/* Variables */
:root {
    /* Font Family */
    --font: 'Inter', sans-serif;
    /* Headline & Body */
    --h1: 40px;
    --h2: 36px;
    --body-md: 16px;
    --body-sm: 14px;
}

/* Colors */
:root {
    --primary: #7C58D3;
    --dark: #7C58D3;
    --gray: #5D5856;
    --light: #FBF9FF;
    --light-2: #D2D2D2;
    --error: #F23987;
    --secondary: #4DC27E;
}

/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font);
    background: var(--light);
}

a {
    text-decoration: none;
}

p,
a {
    font-size: var(--body-md);
    line-height: 1.6;
    color: var(--gray);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2 {
    font-weight: 700;
    line-height: 1.2;
    color: var(--primary);
}

h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

::selection {
    background: var(--primary);
    color: var(--light);
}

/* Classes */
.container {
    max-width: 1140px;
    padding: 250px 15px;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.section-white {
    background: #fff;
}

/* Componets */
.btn {
    display: inline-block;
    padding: 16px 40px;
    font-size: var(--body-sm);
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    border-radius: 40px;
}

.btn-primary {
    background: var(--primary);
    color: var(--light);
}

.btn-primary:hover {
    background: var(--secondary);
    transition: all ease .2s;
}

/* Inputs */
label {
    width: 255px;
    display: block;
    margin: 20px 0 16px 0;
    color: var(--gray);
}

input {
    width: 255px;
    padding: 16px;
    border: 1px solid var(--light-2);
    border-radius: 8px;
}

input:focus {
    outline-color: var(--primary);
}

/* Header */
.header {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.nav-links {
    gap: 24px;
}

.nav-link:hover {
    color: var(--primary);
}

#btn-mobile {
    display: none;
}

/* Mobile Menu */
@media only screen and (max-width: 767px) {
    #btn-mobile {
        display: block;
        background: none;
        border: none;
        padding: 16px;
        cursor: pointer;
    }

    #nav-links {
        display: block;
        position: absolute;
        width: 100%;
        top: 85px;
        right: 0;
        z-index: 1000;
        height: 0px;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
        text-align: center;
    }

    #navbar.active #nav-links {
        display: flex;
        padding: 5px;
        flex-direction: column;
        height: calc(100vh - 85px);
        visibility: visible;
        overflow-y: auto;
    }

    #nav-link {
        display: block;
        margin: 40px 10px;
        transition: all 200ms ease;
    }

    #ham-btn {
        display: block;
        width: 20px;
        border-top: 2px solid var(--p-100);
    }

    #ham-btn::after,
    #ham-btn::before {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background: var(--p-100);
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #navbar.active #ham-btn {
        border-top-color: transparent;
    }

    #nabarv.active #ham-btn {
        border-top-color: transparent;
    }

    #navbar.active #ham-btn::before {
        transform: rotate(135deg);
    }

    #navbar.active #ham-btn::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

/* Footer */
.footer {
    flex-direction: column;
    padding: 64px 15px;
}

.footer .social-media {
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 24px auto;
}

.footer .social-media i {
    font-size: 24px;
}

.footer .social-media i:hover {
    color: var(--primary);
}