/* Hero Section */
.hero-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  height: 90vh;
}

.hero-section h1 {
  max-width: 400px;
}

.hero-section p {
  max-width: 445px;
  margin: 24px 0;
}

/* About Section */
.about-section .container {
  display: grid;
  grid-template-columns: repeat(2, 540px);
  align-items: center;
  gap: 30px;
}

.about-section h2 {
  max-width: 370px;
}

.about-section p {
  margin: 24px 0;
}

/* Timeline Section */
.timeline-section {
  gap: 30px;
  flex-direction: column;
}

.faq-section .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.faq-section h2 {
  margin-bottom: 40px;
}

.item>label {
  display: flex;
  align-items: center;
  width: 540px;
  padding: 8px 24px;
  background: var(--light);
  color: var(--gray);
  cursor: pointer;
  border-radius: 40px;
}

.item>label:hover {
  transition: all 200ms ease;
  background: var(--primary);
  color: var(--light);
}

.item>ul {
  width: 100%;
  list-style: none;
  overflow: hidden;
  max-height: 0;
  transition: all .4s linear;
  padding: 0;
}

.item>ul li {
  max-width: 540px;
  padding: 0 24px;
  color: var(--gray);
  line-height: 1.6;
}

.item>input {
  display: none;
}

.item>input:checked~ul {
  height: auto;
  max-height: 200px;
  transform: all;
}

.item>input:checked~label {
  background: var(--primary);
  border: none;
  color: #fff;
}

/* Page Ficha Online */

/* Inner Hero Section */
.inner-hero-section {
  background: url("/assets/img/inner-bg.png") no-repeat center;
  background-size: cover;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-hero-section h1 {
  color: var(--light);
}

/* Forms Section */

.forms-section {
  display: grid;
  grid-template-columns: repeat(2, 540px);
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.forms-box h2 {
  margin: 40px 0;
}

.forms-box form {
  display: grid;
  grid-template-columns: repeat(2, 255px);
  gap: 30px;
}