.hero-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  height: 90vh;
}

.hero-section p {
  font-size: var(--body-lg);
  max-width: 445px;
  margin: 16px 0;
}

.hero-section .arrow-icon {
  display: flex;
  justify-content: center;
}

.hero-section .arrow-icon i {
  color: var(--neutral-500);
}